<!-- Add favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
</link>
<link rel="stylesheet"
      href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</link>
<script src="{{ url_for('static', filename='js/jquery2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.redirect.min.js') }}"></script>
<script>
  var URL = "{{ url_for('home') }}";
</script>
<a href="/">
<img src="{{ url_for('static', filename='imgs/logo.png') }}" width=229 height=30>
</img>
</a>
<br>
