<!-- Add favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> </link>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"></link>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--
<script src="url_for('static', filename='js/jquery2.0.min.js'"></script>
<script src="url_for('static', filename='js/jquery-ui.min.js'"></script>
-->
<a href="/">
<img src="{{ url_for('static', filename='logo.png') }}" width=229 height=30></img>
</a>
<br>
