{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .sortable { list-style-type: none; margin: 0; padding: 0; width: 30%;
                height: 20px; }
    .sortable li {
      margin: 0 3px 3px 3px;
      padding-left: 1.5em;
      padding-right: 0.5em;
      font-size: 1.1em;
      height: 25px;
     }
    .sortable li span {
      position: absolute;
      margin-left: -1.3em;
    }
    .alignleft {
      float: left;
      width:50%;
      height:16px;
      text-align:left;
    }
    .alignright {
      float: left;
      width:50%;
      height:16px;
      text-align:right;
    }
    ul.dropdown-menu-form {
      padding: 5px 10px 10px;
      max-height: 300px;
      overflow-y: scroll;
    }
  </style>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3"><button type="button" class="btn btn-warning btn-sm">Your Tags</button></div>
    <div class="col-md-3"><button type="button" class="btn btn-warning btn-sm">Followed Tags</button></div>
    <div class="col-md-3"><button type="button" class="btn btn-warning btn-sm">The People's Tags</button></div>
  </div>
  <br></br>
  <button id="toggle-bookmark-form" class="btn btn-success btn-sm">
    Add Bookmark
  </button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
            data-toggle="dropdown">
      Tag <span class="caret"/>
    </button>
    <ul class="dropdown-menu dropdown-menu-form" role="menu">
      {% for tag in range(d['user'].tags|count + 5) %}
        <li>
          <label type="checkbox">
            <input type="checkbox">
            Potato
          </label>
        </li>
      {% endfor %}
      <input type="text"/>
      <li>
        <button type="button" class="btn btn-success btn-sm">Tag</button>
        <button type="button" class="btn btn-success btn-sm">Remove</button>
      </li>
    </ul>
  </div>
  <form id="bookmark-form" hidden=true>
    <input id="bookmark-title" class="bookmark-form-input" placeholder="Title"/>
    <br>
    <input id="bookmark-link" class="bookmark-form-input" placeholder="Link"/>
    <br>
    <a id="make-bookmark" class="btn btn-success btn-sm">Create</a>
  <br></br>
  </form>
  <div class="tag well" style="height: {{ 85 + 28 * d['user'].untagged|count }}px;">
    <h3>Untagged</h3>
    <ul class="sortable untagged">
      {% for bookmark in d['user'].untagged %}
        <li class='ui-state-default'>
          <span class="bookmark-id">{{ bookmark[0] }}</span>
          <p class="alignleft">
            <input type="checkbox" class="should-tag">
            <a href="{{ bookmark[1] }}">
              {{ bookmark[2] }}
            </a>
          </p>
          <p class="alignright">
            <a href="#" class="remove-bookmark glyphicon glyphicon-remove-circle"></a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% for tag in d['user'].tags %}
  <div class="tag well" style="height: {{ 85 + 28 * tag.bookmarks|count }}px;">
    <h3>{{ tag.name }}</h3>
    <ul id="sortable">
      {% for bookmark in tag.bookmarks %}
        <li class='ui-state-default'>
          <a href="{{ bookmark[1] }}">
            {{ bookmark[2] }}
          </a>
          <a href="#" class="remove-bookmark glyphicon glyphicon-remove-circle"></a>
        </li>
      {% endfor %}
    </ul>
    <button class="btn btn-danger btn-sm">Delete tag</button>
  </div>
  {% endfor %}
{% endblock %}
