{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 20%; }
    #sortable li { margin: 0 3px 3px 3px; padding-left: 1.5em; font-size: 1.1em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  {% endblock %}

  {% block content %}
	<center>
		<ul id="sortable">
			<li class='ui-state-default'>
				<a href="http://google.com">this is a link</a>
			</li>
			<li class='ui-state-default'>2</li>
			<li class='ui-state-default'>3</li>
		</ul>

		<div id='new-bookmark'>
			<input type='text' id='name' />
			<input type='text' id='link' />
			<br>
			<input type='button' class="btn btn-primary" id='make-bookmark' value='Make' />
		</div>
	</center>

  <a href="{{ url_for('logout') }}"> Log out </a>
  {% endblock %}
