<!-- Add favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
</link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-uijquery-ui-1.10.3.custom.min.css') }}">
</link>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
</link>
<script src="{{ url_for('static', filename='js/jquery2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.redirect.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
  var URL = "{{ url_for('home') }}";
</script>
