<!DOCTYPE html>
<html lang="en">
<head>
  <title> BookMarx </title>
  {% include 'imports.html' %}
  {% include 'header.html' %}
  <script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
</head>

<body>
  <h2> Velcome Comrade </h2>
  <span id="signinButton" class="signinButton">
    <span
      class="g-signin"
      data-callback="signinCallback"
      data-clientid="150945321637-31ktqfqjt0e24dhqb9i30vehm9vkdmk0.apps.googleusercontent.com"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions=""
      data-scope="profile https://www.googleapis.com/auth/plus.me"
      data-width="wide">
    </span>
  </span><br>
  <fb:login-button size="large"></fb:login-button>

  <script type="text/javascript">
    // Load Google SDK asynchronously
    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();

    // Load Facebook SDK asynchronously
    (function(d){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
    }(document));
  </script>
</body>
</html>
